body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #7827e6;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.center {
  text-align: center;
  margin: 20px 0;
}

h2 {
  margin-bottom: 20px;
  color: #ea80fc;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #8d39ec;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #ea80fc;
  outline: none;
}

.btn {
  background-color: #ea80fc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #aa4ff6;
}

.btn-outline {
  background-color: transparent;
  color: #ea80fc;
  border: 2px solid #ea80fc;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-outline:hover {
  background-color: #ea80fc;
  color: white;
}

.img-container {
  margin-top: 20px;
}

.img-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  width: 100%;
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

